name: Scheduled URL Ping

on:
  schedule:
    - cron: '*/30 * * * *'  # every 30 minutes
  workflow_dispatch:       # allows manual runs

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping URL 1
        run: |
          curl -L --fail https://mzjkxsbu3as3cpy3kslh88.streamlit.app/

      - name: Ping URL 2
        run: |
          curl -L --fail https://uploadpy-ynrhtmnl2zosu6yrhx3cfu.streamlit.app/
