name: Scheduled URL Ping

on:
  schedule:
    # Runs every 30 minutes
    - cron: '*/1 * * * *'

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping a URL
        uses: appropriate/ping-url-action@master
        with:
          url: 'https://mzjkxsbu3as3cpy3kslh88.streamlit.app/' # Replace with your target URL
          # Optional: expected_status: 200,301 (default is 200)
